body {
  margin: 0px;
}

#div-beach {
  position: absolute;
  width: 100%;
  height: 20vh;
  background-color: #ffecbc;
}

#div-sea {
  position: absolute;
  top: 20vh;
  width: 100%;
  height: 80vh;
  background-color: #3083BC;
}
