#range1 {
  position: relative;
  left: -99px;
  margin-left:  102px;
  width: 300px;
}

#range2 {
  position: relative;
  left: -99px;
  margin-left:  102px;
  width: 300px;
}

#range3 {
  position: relative;
  left: -99px;
  margin-left:  102px;
  width: 300px;
}

#range4 {
  position: relative;
  top: 5px;
  left: -99px;
  margin-left:  102px;
  width: 300px;
}

#stuff1 {
  position: relative;
  top: 30px;
  left: -99px;
  margin-left:  102px;
  width: 300px;
}

/* Advanced Loop: forEach method */


#arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid black;
  position: absolute;
  top: 195px;
  left: 200px;
}

#arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid #f00;
  position: absolute;
  top: 200px;
  left: 160px;
}

#arrow-right {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;

  border-left: 60px solid green;
  position: absolute;
  top: 200px;
  left: 200px;
}

#arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right:10px solid blue;
  position: absolute;
  top: 180px;
  left: 190px;
}
