body {
  margin: 0;
}
/* margin > 0 by default */

.box {
  width: 100px;
  height: 100px;
  background-color: black;
  margin: 10px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(300deg);
  }
}

@keyframes shrink {
  0% {
    transform: scale(1) rotate(0deg);
    /* width: 100px;
    height: 100px; */
  }
  50% {
    transform: scale(0.2) rotate(0deg);
    /* width: 20px;
    height: 20px; */
  }
  100% {
    transform: scale(1) rotate(360deg);
    /* width: 100px;
    height: 100px; */
  }
}

@keyframes moveSpin {
  0% {
    left: 0px;
    transform: rotate(0deg);
  }

  40% {
    left: 200px;
    transform: rotate(0deg);
  }

  60% {
    left: 200px;
    transform: rotate(360deg);
  }

  100% {
    left: 0px;
    transform: rotate(360deg);
  }
}

.box-1 {
  animation-name: spin;
  animation-duration: 5s;
  animation-iteration-count: 5;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.box-2 {
  background-color: green;
  animation-name: shrink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  /* animation-direction: alternate; */
}

.box-3 {
  position: relative;
  animation-name: moveSpin;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
