body {
  height: 100%;
  margin: 0px;
}

#sign {
  position: fixed;
  top: 5vh;
  left: 5vh;
  padding: 0;
  margin: 0;
  height: auto;
  width: auto;

  display: flex;
  align-content: center;
  justify-content: center;
  align-self: center;
  align-items: center;
  vertical-align: middle;
}

p {
  font-size: 2em;
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}

.box {

}
