.paper{
  border:4px solid black;
  border-radius: 4px;
}








/* :root{
  --borderThickness: 4px;
}
body{
  background-color:#6156bd99;
  margin: 0;
  font-weight: bold;
  font-family: sans-serif;
}
p{
  margin: 0;
}
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.chatwrapper{
  width:300px;
  border:var(--borderThickness) solid black;
  border-radius: 10px;
  padding: 15px;
  box-shadow: -11px 11px 20px 10px black;
  background-color: white;
}
.namebox{
  border:var(--borderThickness) solid black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: right;
  padding:10px;
  margin-bottom: 5px;
}
.chatbox{
  border:var(--borderThickness) solid black;
  margin-bottom: 5px;
  padding: 10px;
}
#chat{
  height: 160px;
  overflow: scroll;
  list-style: none;
  padding: 0px;
  margin: 0;
}
#chat li{
  margin-bottom: 3px;
}
#chat li:nth-child(odd){
  background-color: pink;
  color: white;
}
#chat li .sender{
  color:purple;
}
.messagebox{
  border:var(--borderThickness) solid black;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding:10px;
}
input{
  font-size: 16px;
}
button{
  font-size: 16px;
}
html{
  scroll-behavior:smooth
} */
